* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: roboto; */
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgb(200, 200, 200);
}
.container {
  height: 100vh;
  display: flex;
  margin: auto;
  /* align-items: stretch; */
  /* align-items: center; */
  justify-content: space-between;
}

.dv-login {
  height: 500px;
  width: 800px;
  /* margin-top: auto; */
  /* width: 90vh; */
  /* margin: 100px; */
  /* left: -721px; */
  /* top: -451px; */
  /* border-radius: 0px; */
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  /* border-style: 15px solid black; */
  /* border-style: solid; */
  flex-direction: row;
}

.image {
  display: flex;
  width: 45%;
  /* border-radius: px; */
  /* flex-direction: row; */
  /* height: 900px; */
  /* width: 1440px; */
  /* margin: auto; */
  /* width: 711px;
  height: 900px; */
}

.img {
  margin: auto;
  border-radius: 15px 0px 0px 15px;
  /* flex-direction: row; */
  width: 100%;
  height: 100%;
  /* background-image: url(img/download.jfif); */
}

.form-login {
  width: 45%;
  /* padding: 1px; */
  margin: auto;
  /* align-items: center; */
  /* justify-content: center; */
}

input[type="text"],
input[type="password"] {
  /* width: 100%; */
  /* border: none; */
  /* box-sizing: border-box; */
  width: 100%;
  border: none;
  border-bottom: 2px solid gray;
  padding-bottom: 8px;
  /* margin: 8px 0px; */
  margin-bottom: 20px;
  outline: none;
  /* border-radius: 5px; */
}

input:focus {
  /* border: none; */
  border-bottom: 3px solid black;
}

.btn {
  width: 100%;
  border: none;
  padding: 10px 40px;
  color: white;
  background-color: rgb(0, 128, 85);
  /* font-style: inherit; */
}

.comment,
.remember {
  font-size: 0.8em;
  margin-top: 20px;
}

a {
  text-decoration: none;
}
