@font-face {
    font-family: "Scheherazade New";
    src: url(Font/ScheherazadeNew-Regular.ttf);
}

@font-face {
    font-family: "GT Alpina Fine Trial Rg";
    src: url(Font/GT-Alpina-Fine-Regular-Trial);

}

@font-face {
    font-family: "OptimusPrinceps";
    src: url(Font/OptimusPrinceps.ttf);
}

@font-face {
    font-family: "GT Alpina Trial Lt";
    src: url(Font/GT-Alpina-Light-Trial.woff2) format(woff2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

nav.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4em;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-image: url('pict/navbar.png');
    width: 100%;
    height: 100px;
    margin-bottom: 48px;

    .logo {
        font-size: 2vw;
        color: #fff;
        text-decoration: none;
        font-family: "OptimusPrinceps";
    }

    .nav-list {
        display: flex;
        justify-content: space-around;
        width: 35%;
        list-style-type: none;
        font-size: 1.5vw;

        li a {
            color: #fff;
            text-decoration: none;
        }
    }
}


section.helper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
    margin-bottom: 84px;

    .search {
        width: 50%;

        form {
            display: flex;

            input {
                width: 80%;
                height: 45px;
                padding: 5px;
                border-radius: unset;
                border-right: unset;
            }

            .search-button {
                background-color: #000;
                border: #000;
                width: 100px;
                height: 45px;
                color: #fff;
            }
        }

        .search-button:hover {
            cursor: pointer;
        }
    }

    .right {
        display: flex;
        column-gap: 3em;

        .cart {
            display: flex;
            justify-content: flex-end;

            img {
                width: 45px;
            }

            img:hover {
                cursor: pointer;
                // width: 45px;
            }
        }

        a {
            text-decoration: none;
            color: #000;

            .profil {
                display: flex;
                align-items: center;
                column-gap: .5em;

                .circle {
                    border: 3px solid #000;
                    width: 45px;
                    height: 45px;
                    background-color: #fff;
                    border-radius: 45px;

                    img {
                        object-fit: cover;
                    }
                }

                p {
                    font-size: 1.2vw;
                }
            }
        }
    }
}

section.main-content {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 268px);
    justify-content: space-between;
    row-gap: 64px;
    margin: auto;

    img {
        width: 268px;
        object-fit: cover;
        object-position: center;
    }

    .card-content {
        position: relative;
        top: -30px;
        height: fit-content;
        width: 80%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: #fff;
        box-shadow: 0px 10px 17px 0px rgba(0, 0, 0, 0.3);
        margin-bottom: 84px;

        h2:first-child,
        p {
            font-family: "GT Alpina Fine Trial Rg";
        }

        p {
            font-weight: lighter;
            font-size: .8em;
        }

        h2:last-child {
            display: flex;
            justify-content: flex-end;
            font-family: "Scheherazade New";
            font-weight: lighter;
            margin-top: 16px;
        }
    }

    .card-content>* {
        font-weight: unset;
    }
}


footer.footer {
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, .1)), url('pict/footer.png');
    background-position: center;
    background-size: cover;
    object-fit: cover;
    display: flex;
    align-content: center;
    justify-content: space-around;

    .footer-content {
        width: 100%;
        justify-content: space-around;
        margin: auto;
        display: flex;

    }

    .footer-logo {
        align-self: center;
        font-size: 3em;

        a {
            color: #fff;
            text-decoration: none;
            font-family: "OptimusPrinceps";
        }
    }

    .find-us {
        font-family: "GT Alpina Fine Trial Rg";

        h1 {
            color: #fff;
            font-weight: unset;
            margin-bottom: 24px;
        }

        .find-us-list {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            list-style-type: none;

            li a {
                color: #fff;
                text-decoration: none;
                // letter-spacing: 1px;
            }
        }
    }

    .contact-us {
        display: flex;
        flex-direction: column;

        h1 {
            font-weight: unset;
            color: #fff;
            margin-bottom: 24px;
        }

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}